body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background: #00c6ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0072ff;
}

#loader {
    margin-top: 20px;
    font-size: 20px;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0.3; }
}

.hidden {
    display: none;
}

img {
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
}